@model IEnumerable<OrganizeYourGames.ViewModels.HomePageItem>
<div class="grid-container">
    @foreach (var v in Model)
    {
        <div class="card">
            <div class="hovercontainer">
                <img class="image" src="/images/@(v.Image).png" alt="@v.Title" style="width:100%">
                <div class="middle">
                    <a href="#">
                        <div class="text">Show</div>
                    </a>
                </div>

            </div>
            <div class="card-body">
                <h5 class="card-title">@v.Title</h5>
                <p class="card-text">@v.Description</p>
                @if (!String.IsNullOrEmpty(v.ExternalLink))
                {
                        <a class="card-link" href="@v.ExternalLink">@v.ExternalLinkText</a>
                }
            </div>
        </div>
    }
</div>

